.body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 48px;
}

.image {
    display: flex;
    width: 100vw;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}


.image img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 40vw;
  min-width: 20vw;
}

.image button {
    height: 40vw;
    width: 2vw;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 0;
    border-radius: 0;
}

.image button:hover {
    background-color: rgba(143, 34, 201, 1);
}

.leftButton > button{
    left: 4vw;
}

.rightButton > button {
    right: 4vw;
}

.image svg {
    color: black
}

.image-footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.description {
    padding: 8px 12px;
}

.buying-section > form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5em;
    border-radius: 25%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
}

.chips-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5vw;
}


.boton-reservar.MuiButton-contained.MuiButton-root {
    background-color: var(--color-principal-cta);
    min-width: 100px;
    border-radius: 50px;
    text-transform: capitalize;

    &:hover {
        background-color: var(--color-principal-cta-hover);
    }
}

@media(max-width: 600px) {
    .image-footer {
        flex-direction: column-reverse;
    }
}