.barra-busqueda {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    box-shadow: 0px 2px 8px 1px rgba(143, 34, 201, 0.2);
    padding: 8px 24px;
    height: 2em;
}

.filtros-busqueda {
    display: flex;
}

.filtros-busqueda > .separador-filtros {
    border-left: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 0.1px;
}

.boton-busqueda.MuiButton-contained.MuiButton-root {
    background-color: #C9225C;
    border-radius: 50px;
}