.toolbar {
    background-color: #FAFAFA;
    height: 6vh;
    justify-content: space-between;
    display: flex;
}
.logo {
    display: flex;
    padding-left: 1vw;
    align-items: center;
}
#logo {
    height: 30px;
    width: 30px;
}
.logo-text {
    display: block;
    font-family: "Roboto", "sans-serif";
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    font-size: 30px;    
}
.logo-text span {
    color: #C922B0;
}
.logo:hover{
    cursor:pointer;
}
#button {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-family: "Roboto", "sans-serif";
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}
#button:hover {
    background-color: rgba(201, 34, 176, 0.25);
}
#appbar-icon:hover {
        background-color: rgba(201, 34, 176, 0.25);
}
.appbar-buttons {
    display: flex;
    gap: 100px;
}
.appbar-icons {
    display: flex;
    padding-right: 1vw;
}

span > span.icono-notificacion {
    background-color: #8F22C9;
}