.cantidad-huespedes {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}
.boton.MuiButton-root {
  background-color:rgba(201, 34, 176, 0.2) ;
  
  color: rgb(0, 0, 0);
}

.boton.MuiButton-root:hover {
  background-color:rgba(201, 34, 176, 0.7);
}

.boton.Mui-disabled {
  background-color: rgba(143, 34, 201, 0.2) !important;
  color: #000000 !important;
}


